<section id="briefcase-section">
    <button class="btn-services">Portafolio</button>
    <span class="solution-span">La Magia de Nodo</span>
    <div class="w50 cont-txt">
        <p>Cada proyecto en <span class="bld">Nodo Studio</span>  cuenta una historia. Diseñamos marcas y páginas web con alma, pasión y propósito, para que cada detalle hable de ti.</p>
    </div>

    <div class="content-cards ">
        <div class="w33">
            <div class="card bck-4ff">        
                <div class="circle-content">
                    <img src="../../../../assets/img/cards/arrowLeft.svg" alt="">    
                </div>
            </div>            
            <div class="content-btn-card">
                <button>Páginas Web</button>
            </div>

        </div>

        <div class="w33">
            <div class="card bck-4ff-deg">
                <div class="circle-content">
                <img src="../../../../assets/img/cards/arrowLeft.svg" alt="">     
                </div>
            </div>    
            <div class="content-btn-card">
                <button>Diseño UX/UI</button>
            </div> 
            
        </div>
 

        <div class="w33">
            <div class="card indentyDesign">
                <div class="circle-content">
                <img src="../../../../assets/img/cards/arrowLeft.svg" alt="">     
                </div>
            </div>       
            <div class="content-btn-card">
                <button>Diseño de Identidad</button>
            </div>      
        </div>
    
    
    </div>
    <div class=" content-btncrd w90">

    
    
    </div>
      

</section>