#briefcase-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(to bottom, rgb(245, 255, 244) 0%, rgba(255, 255, 255, 0) 100%), 
    linear-gradient(90deg, rgba(0, 195, 255, 0.219)  0%, rgba(0, 195, 255, 0.219)  100%); 
    background-size: cover;
    padding-bottom: 10vh;
    .btn-services{
        font-weight: 600;
        background-color: #00C4FF;
        border-radius: 100px;
        height: 40px;
        width: 160px;
        margin-top:70px ;
    }
    .solution-span{
        font-weight: 600;
        font-size: 36px; 
    } 
    .cont-txt{
        p{
            text-align: center;
            margin-top: 22px;
            font-size: 18px;
        }        
    }
    .bld{ font-weight: 600;}


    .w33{
        width: 500px;   
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .content-cards{
        width: 98%;
        // background-color: green;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        margin-top: 5vh;
        gap: 10px; 
        .card{
            width:  450px;
            height: 450px;           
            border-radius: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
            .circle-content{
                width:  90px;
                height: 90px;
                border-radius: 50%;
                background-color: black;
                position: relative;
                top: 38%;
                left: 38%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .indentyDesign{
            background-image: url('../../../../assets/img/briefcase/identyDesign.png');
        }
        .bck-4ff{
            background-image: url('../../../../assets/img/briefcase/standard.png');
        }
        
        .bck-4ff-deg{
            background-image: url('../../../../assets/img/briefcase/designUI.png');
 
        }
    }
    // .content-btncrd{
    //     margin-top: 5vh;
    //     display: flex;
    //     justify-content: space-between;
        .content-btn-card{
            width:   450px;;
            padding-left: 0.5vh;
            button{
               margin-top:30px ;
               width: 40%;
               padding: 5px; 
               background-color: #001423;
               color: white;
               border-radius: 24px;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;      
            }
        }
    // } 
}


@media (max-width: 1045px) {
    
    .content-cards{
        justify-content: center !important;
    }
}

@media (max-width: 500px) {

    .w33{
        width: 400px !important;

    }
    .content-btn-card{
        // background-color: rebeccapurple;
        width: 90% !important;
        button{
            width: 170px !important;
        }
    }
  .card{
    width:  350px !important;
    height: 350px !important;
  }
}