<section id="briefcase-section">
    <button class="btn-services">Portafolio</button>
    <span class="solution-span">La Magia de Nodo</span>
    <div class="w50 cont-txt">
        <p>Cada proyecto en <span class="bld">Nodo Studio</span>  cuenta una historia. Diseñamos marcas y páginas web con alma, pasión y propósito, para que cada detalle hable de ti.</p>
    </div>

    <div class="content-cards w90">
        <div class="card bck-4ff">
       
            <div class="circle-content">
                <img src="../../../../assets/img/cards/arrowLeft.svg" alt="">    
            </div>
        </div>
    
        <div class="card bck-4ff-deg">
            <div class="circle-content">
             <img src="../../../../assets/img/cards/arrowLeft.svg" alt="">     
            </div>
        </div>  


        <div class="card bck-4ff">
            <div class="circle-content">
             <img src="../../../../assets/img/cards/arrowLeft.svg" alt="">     
            </div>
        </div> 
    
    
    </div>
    <div class=" content-btncrd w90">
        <div class="content-btn-card">
            <button>UI/ UX Design</button>
        </div>
        <div class="content-btn-card">
            <button>App Design</button>
        </div>
        <div class="content-btn-card">
            <button>App Design</button>
        </div>
    </div>
      

</section>