#creativeProccess{
    background: linear-gradient(to right, rgba(199, 125, 255, 0.212), white, rgba(199, 125, 255, 0.212));
    filter: blur(0px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;

    .content-btn-proccess{
        display: flex;
        justify-content: center;
        margin-top:4vh;
        .btn-proccess{
            height: 40px;
            width: 160px;
            display :flex;
            justify-content: center;
            align-items: center;
            border-radius: 19px; 
            font-weight: 500;
            background-color: rgba(199, 125, 255, 1);
        }
    }
    .titleProcces{
        margin-top: 15px;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .content-subtble{
        width: 800px;
        font-size: 18px;
        text-align: center;
    }

    .fnt500{
        font-weight: 600;
    }
    .contntProccessInfo{
        width:1200px;
        margin-top: 65px;
        margin-bottom:5vh;
        display: flex;
        .proccess{
            display: flex;
            border-right: 2px solid rgba(0, 20, 35, 1);
            .content-lft-info{
                display:flex;
                justify-content:center;
                align-items: center;
            }
            .conent-right-info{
                display: flex;
                flex-direction: column;
                padding-right:35px;
                .title{
                    font-weight: 600;
                    font-style: italic;
                }
            }
          
        }
        .cre{
            border: none;
        }
        
    }

}

@media (max-width: 1250px) {
    .contntProccessInfo{
        width:85%!important;
    }
}


@media (max-width: 1000px) {
    .contntProccessInfo{
        width:90%!important;
        font-size: 13.5px;
    }
    .content-subtble{
        font-size: 16px !important;
    }

}

@media (max-width: 857px) {
    .contntProccessInfo{
        width:95%!important;
        font-size: 13.5px;
    }
    .content-subtble{
        width: 80% !important;
    }
    .titleProcces{
        font-size: 30px !important;
    }
}
@media (max-width: 650px) {
    .contntProccessInfo{
        width:95%!important;
        font-size: 13.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .proccess{
            border-right: none !important;
            border-bottom: 1px solid rgba(0, 20, 35, 1);
            width: 70%;
            margin-bottom: 2.5vh;
            padding-bottom: 1.5vh;
        }
    }
}
@media (max-width: 408px) {
    .conent-right-info{ 
        font-size: 12px;
    }
    .titleProcces{   
        font-size: 25px !important
        ; }
    .content-subtble{    
        font-size: 15px !important;
     }
    .proccess{ 
        width: 90% !important;
    }
}

@media (max-width: 326px) {
    .titleProcces{      
        font-size: 20px !important;
     }
    .content-subtble{   
        font-size: 13px !important;
     }
}
