<section id="header" class="w100">
    <div class="bar-green w100"></div>
    <app-menu class="w100 hed"></app-menu>
    <div class="content-head w100">        
        <div class="content-titb w50">
            <span class="txt-b fadeIn">Creamos <span class="gradient-text fadeInGradient">páginas web</span>,</span>
            <span class="txt-b">transformamos tu marca</span>            
        </div>
        <div class="content-subtt w50">
            <span>En <span class="bld ">Nodo Studio</span>, unimos creatividad y tecnología para dar vida a tus ideas. </span>
            <span>Creamos soluciones confiables que impulsen el crecimiento de tu negocio.</span>
        </div>
        <div class="content-btn-pr w30">
           <button class="btn-prices"><span>Ver Precios</span></button>
           <button class="btn-cont"><span>¡Contáctanos!</span></button>
        </div>      
    </div>
</section>
