@keyframes slideDown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

nav {
  // border: 1px solid black;
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  padding-inline: 4%;
  border-bottom: 1px solid rgba(var(--midnightBlue), 0.5);

  // animation: slideDown 1s ease-in-out forwards;

  .navMenuList {
    display: none;

    padding-inline: 4%;
    // border: 1px solid black;

    animation: slideDown 1s ease-in-out forwards;
    transform: translate(-100vh);

    .nav-contact {
      height: 145px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        width: 100%;
        row-gap: 10px;
        button {
          border: none;
          border-radius: 100px;
          height: 50px;
          text-align: center;
          font-size: clamp(12px, 18px, 18px);
          font-weight: 500;
          width: 100%;
          &:first-child {
            display: flex;
            background-color: rgba(var(--midnightBlue), 1);
            color: white;
            max-width: 203px;
            width: 100%;
            justify-content: center;
            align-items: center;
            column-gap: 5%;
          }
          &:last-child {
            max-width: 98px;
            width: 100%;
            font-weight: 600;
            background-color: var(--chartreuse);
            color: rgba(var(--midnightBlue), 1);
          }
          &:active {
            border: 1px solid black;
            background-color: white;
            color: black;
          }
        }
      }
      .material-icons {
        color: rgba(var(--midnightBlue), 0.5);
        display: flex;
        justify-content: end;
        cursor: pointer;
        font-size: 30px;
      }
    }
    .menuActions {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 10px;

      justify-content: flex-start;
      height: 100%;
      // position: relative;
      top: 25%;
      a {
        cursor: pointer;
        font-size: 25px;
        width: max-content;
      }
    }
  }
  .navMenuList.show {
    display: block;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform: translateY(0);

    .material-icons {
      transition: 0.3s ease all;
      &:hover {
        color: red;
      }
    }
    a {
      transition: 0.3s ease all;
      &:hover {
        font-size: 35px;
        font-weight: 500;
      }
    }
  }

  .navMenuList.closing {
    animation: slideUp 0.5s ease-in-out forwards;
  }

  .navLogo {
    height: 100%;
    width: 50%;
    display: flex;
    animation: slideDown 1s ease-in-out forwards;
    align-items: center;
    // border: 1px solid black;
    a {
      cursor: pointer;
      // border: 1px solid black;
      max-width: 192px;
      max-height: 61px;
      width: 80%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .navMenu {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    justify-content: end;
    align-items: center;
    // border: 1px solid black;
    animation: slideDown 1s ease-in-out forwards;

    .material-icons {
      font-size: 30px;
      cursor: pointer;
    }
  }

  .navOptions {
    animation: slideDown 1s ease-in-out forwards;
    // border: 1px solid black;
    display: none;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    column-gap: 25px;
    // font-size: 18px;
    font-size: clamp(16px, 1.125vw, 18px);
    font-weight: 500;
    line-height: 27px;
    a {
      cursor: pointer;
      transition: 0.3s ease all;
      &:hover {
        color: rgba(var(--midnightBlue), 0.5);
      }
    }
  }

  .navContact {
    animation: slideDown 1s ease-in-out forwards;
    width: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    column-gap: 20px;
    button {
      cursor: pointer;
      border: none;
      border-radius: 100px;
      height: 50px;
      text-align: center;
      font-size: clamp(12px, 18px, 18px);
      font-weight: 500;
      transition: 0.3s ease all;
      &:first-child {
        display: flex;
        background-color: rgba(var(--midnightBlue), 1);
        color: white;
        max-width: 203px;
        width: 100%;
        justify-content: center;
        align-items: center;
        column-gap: 5%;

        span {
          @media (max-width: 1220px) {
            display: none;
          }
        }
        @media (max-width: 1220px) {
          width: 20%;
          // max-width: 15%;
        }
      }
      &:last-child {
        max-width: 98px;
        width: 100%;
        font-weight: 600;
        background-color: var(--chartreuse);
        color: rgba(var(--midnightBlue), 1);
      }
      &:active {
        border: 1px solid black;
        background-color: white;
        color: black;
      }
    }
  }
}

@media (min-width: 992px) {
  nav {
    justify-content: start;
    .navLogo {
      width: 30%;
      // border: 1px solid black;
    }
    .navMenu {
      display: none;
      // border: 1px solid black;
    }

    .navOptions {
      display: flex;
    }

    .navContact {
      display: flex;
    }
  }
}

@keyframes cssAnimation_0 {
  to {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0px;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes rotateOpen {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-icon {
  animation: rotateOpen 0.3s ease-in-out forwards;
}

// new class SANTIAGO

.swiper {
  width: 100%;
  height: 40px;
  background-color: rgba(var(--midnightBlue), 1);
}

.swiper-slide {
  position: relative; // Necesario para posicionamiento absoluto de ::after
  width: fit-content !important;
  margin-left: 10px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  padding: 10px 10px;

  span {
    font-family: sans-serif !important;
    column-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 16px;
    pointer-events: none; // opcional: evita interacción con el texto
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #ffffff;
    background: linear-gradient(
      90deg,
      rgba(var(--midnightBlue), 0.4) 0%,
      rgba(var(--midnightBlue), 1) 100%
    );
    opacity: 0.8;
    z-index: 2;
    pointer-events: none; // opcional: permite hacer click a través del overlay
  }
}
.scrollY {
  nav {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
}
