<section id="men">
    <div class="menu w100">
        <img src="../../../../assets/img/header/id_visual.png" alt="" class="img-logo">
        <div class="content-menu">
            <button class="btn-men"><span>Nosotros</span></button>
            <button class="btn-men"><span>Servicios</span></button>
            <button class="btn-men"><span>Portafolio</span></button>
            <button class="btn-men"><span>Contáctanos</span></button>


        </div>
        <div class="content-btn-whats"> 
            <button class="btn-conti"><span>¡cotiza Ahora!</span></button>
            <button class="btn-language" (click)="changeLangugage()"><span>{{language}}</span></button>        
        </div>

    </div>


</section>