<div id="container" #con>
  <!-- NAVBAR -->
  <app-nav-bar (routeSelect)="onNavigate($event)"></app-nav-bar>
  <div class="b-container">
    <div class="sub-title1 lufga">
      <span class="txt-b line-1"
        >Creamos <span class="gradient-text">páginas web</span>,</span
      >
      <span class="txt-b line-1">transformamos tu marca</span>
    </div>

    <div class="sub-title2">
      <span class="line-1"
        >En <span class="txt-bold">Nodo Studio</span>, unimos creatividad y
        tecnología para dar vida a tus ideas.
      </span>
      <span class="line-1"
        >Creamos soluciones confiables que impulsen el crecimiento de tu
        negocio.</span
      >
    </div>
    <!-- ACTIONS -->
    <div class="div-actionss">
      <button class="div-btns left">Ver Precios</button>
      <button (click)="onWhatsapp()" class="div-btns rigth">
        ¡Contáctanos!
      </button>
    </div>
  </div>
</div>

<div
  style="width: 100%; display: flex; padding-inline: 4%; padding-block: 30px"
>
  <div class="swiper">
    <div class="swiper-wrapper">
      @for (item of skills; track $index) {
      <div class="swiper-slide">
        <app-card-info [data]="item"></app-card-info>
      </div>
      }
    </div>
  </div>
</div>

<!-- <app-header></app-header> -->
<!-- <app-skills></app-skills> -->
<app-us-services id="services"></app-us-services>

<!-- DIV DE DISEÑO ILIMITADO -->
<div class="div-cotn-ili">
  <p class="p-text">
    Diseño Ilimitado con
    <span class="gradient-text">Nodo Studio</span>
    creatividad sin fronteras para tus ideas, siempre que lo requieras.
  </p>
</div>

<app-briefcase id="wallet"></app-briefcase>
<!-- SECCION DE PAQUETES -->

<!-- FIN DE SECCION DE PAQUETES -->
<div class="div-sales">
  <div class="sub-sales">
    <p class="sales-title">
      Elige el paquete <span class="gradient-text">perfecto para ti </span>
    </p>
    <p class="sales-subtitle">
      Opciones diseñadas para ajustarse a tu visión y presupuesto
    </p>
  </div>
  <!--  -->

  <div class="toggle-pack">
    <!-- <div> -->
    <mat-button-toggle-group
      appearance="legacy"
      [value]="elementsToggle[0].value"
      style="
        border-radius: 32px;
        background-color: rgba(0, 20, 35, 0.03) !important;
        color: rgba(0, 20, 35, 0.8) !important;
      "
      (change)="onToggleSelect($event.value)"
    >
      @for (item of elementsToggle; track $index) {
      <mat-button-toggle
        [disableRipple]="true"
        class="me-toggle"
        [value]="item.value"
        >{{ item.title }}</mat-button-toggle
      >
      }
    </mat-button-toggle-group>
    <!-- </div> -->
    <!-- CARD DE PAQUETES -->
    <div class="cont-pack" *ngIf="getAllPack">
      @for (card of filterPack.pack; track $index) {

      <app-card-pack [pack]="filterPack.title" [data]="card"></app-card-pack>
      }
    </div>
  </div>
</div>
<!-- TODO DE FIN DISEÑO ILIMITADO -->
<mat-card *ngFor="let item of [1, 2, 3, 4, 5]">g</mat-card>
<!-- <p>home works!</p> -->

<app-creative-proccess></app-creative-proccess>
<app-contact id="contact-us"></app-contact>
<app-footer></app-footer>
