<div id="container" #con>
  <!-- NAVBAR -->
  <app-nav-bar></app-nav-bar>
   <div class="b-container">
    <div class="sub-title1">
      <span class="txt-b line-1"
        >Creamos <span class="gradient-text">páginas web</span>,</span
      >
      <span class="txt-b line-1">transformamos tu marca</span>
    </div>

    <div class="sub-title2">
      <span class="line-1"
        >En <span class="txt-bold">Nodo Studio</span>, unimos creatividad y
        tecnología para dar vida a tus ideas.
      </span>
      <span class="line-1"
        >Creamos soluciones confiables que impulsen el crecimiento de tu
        negocio.</span
      >
    </div>
  </div> 
</div>

<div style="width: 100%; padding-inline: 4%;">

  <div class="swiper">
    <div class="swiper-wrapper">
      @for (item of skills; track $index) {
        <div class="swiper-slide">
          <app-card-info [data]="item"></app-card-info>
        </div>
      }
    </div>
  </div>
</div>

<div class="div-tecn">
  @for (item of skills; track $index) {
  <app-card-info [data]="item"></app-card-info>
  }
</div> 

<!--
<section id="image-carousel" #carrusel class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="https://splidejs.com/images/slides/image-slider/01.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="https://splidejs.com/images/slides/image-slider/02.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="https://splidejs.com/images/slides/image-slider/03.jpg" alt="">
			</li>
		</ul>
  </div>
</section>
-->

<!--
    <app-header></app-header>
<app-skills></app-skills>
<app-us-services></app-us-services>
<app-briefcase></app-briefcase> 
<p>home works!</p>-->
<app-contact></app-contact>
<app-footer></app-footer>
