<section id='section-footer'>



    <div class="content-logo ">
        <img src="../../../../assets/img/footer/logoNS.png" alt="">
        <div class="content-social-network w10">
             <img src="../../../../assets/img/footer/logoFacebook.svg" alt="">    
            <img src="../../../../assets//img//footer/instaLogo.svg" alt="">
            <img src="../../../../assets/img/footer/behanceLogo.svg" alt="">
            <img src="../../../../assets/img/footer/whatsappLogo.svg" alt="">
        </div>
       
    </div>

    <div class="content-terms ">
        <span>Aviso de Privacidad</span>
        <span>|</span>
        <span>Términos y Condiciones</span>
        <span>|</span>
        <span>Contáctanos</span>
    </div>


    <div class="copy w100">
        <span>© 2025 Copyright | Nodo Studio</span>
    </div>
 

</section>