<section id='section-footer'>



    <div class="content-logo " >
        <img class="logoNd" src="../../../../assets/img/footer/logoNodoFo.png" alt="">
        <div class="content-social-network w10">
             <img src="../../../../assets/img/footer/facebook.png" alt="">    
            <img src="../../../../assets/img/footer/instagram.png" alt="">
            <img src="../../../../assets/img/footer/behance.png" alt="">
            <img src="../../../../assets/img/footer/whatsapp.png" alt="">
        </div>
       
    </div>

    <div class="content-terms ">
        <span>Aviso de Privacidad</span>
        <span class="non">|</span>
        <span>Términos y Condiciones</span>
        <span class="non">|</span>
        <span>Contáctanos</span>
    </div>


    <div class="copy w100">
        <span>© 2025 Copyright | Nodo Studio</span>
    </div>
 

</section>