<section id="contactComponent" class="w100">
    <div class="w50 lft">
        <span class="w60 titlCon">Contáctanos</span> 
        <div class=" w60 contentForm">
            <input type="text" placeholder="Nombre Completo">
            <input type="text" placeholder="Correo Electrónico">
            <textarea name="" id="" placeholder="Mensaje"></textarea>            
            <button class="btn-send"> <span>Enviar</span> </button>
        </div>
    </div>

    <div class="contLine"></div>

    <div class="w50 rht">
        <div class="w50 talkto">
            <span class="tl">¡Hablemos de tu próximo  <span class="letterdegrant">proyecto!</span></span>
        </div>
        <div class="w50 descpTtxt">
            <span class="tl-l">Cuéntanos tu idea y hagámosla realidad con diseño, creatividad y tecnología.</span>
        </div>
    </div>
</section>