<section id="contactComponent" class="w100">
    <form class="w50 lft" >
        <span class="w60 titlCon">Contáctanos</span> 
        <div class=" w60 contentForm">
            <input type="text" placeholder="Nombre Completo" name="nameClient" [(ngModel)]="name" >
            <input type="text" placeholder="Correo Electrónico" name="email" [(ngModel)]="email" >
            <textarea name="" id="" placeholder="Mensaje" name="message" [(ngModel)]="message"></textarea>            
            <button  class="btn-send" (click)="sendEmailConfirm()"> <span>Enviar</span> </button>
            
        </div>
    </form>

    <div class="contLine"></div>

    <div class="w50 rht">
        <div class="w50 talkto">
            <span class="tl">¡Hablemos de tu próximo  <span class="letterdegrant">proyecto!</span></span>
        </div>
        <div class="w50 descpTtxt">
            <span class="tl-l">Cuéntanos tu idea y hagámosla realidad con diseño, creatividad y tecnología.</span>
        </div>
    </div>
</section>