// REFERENCIA A COLORES GLOBALES
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/lufga/LufgaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// REFERENCIA A COLORES GLOBALES
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/lufga/LufgaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --midnightBlue: 0, 20, 35;
  --chartreuse: rgba(149, 242, 17, 1);
  --deepSkyBlue: rgba(0, 196, 255, 1);
  --violet: rgba(199, 125, 255, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, "Lufga";
  // font-family: "Lufga";
}
html,
body {
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
}

@for $i from 1 through 10 {
  $width: $i * 10%;
  .w#{$i * 10} {
    width: #{$width};
  }
}

// .lufga{
//  font-family: "Lufga" !important;
//  background-color: red ;
// }

// html {
//   font-size: 100%;
//   line-height: 1.5;
//   scroll-behavior: smooth;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-family: poppins;
// }

// body {
//   margin: 0;
//   font-family: Arial, sans-serif;
//   background-color: #fff;
//   color: #000;
// }

// input,
// button,
// textarea,
// select {
//   font: inherit;
// }
// button {
//   cursor: pointer;
//   background: none;
//   border: none;
// }

// a {
//   text-decoration: none;
//   color: inherit;
// }

// ul,
// ol {
//   list-style: none;
// }
