<section id="section-service" class="w100">
    <button class="btn-services">Servicios</button>

    <span class="solution-span">Soluciones Creativas</span>
    <div class="w50 cont-txt">
        <p>Creamos soluciones digitales personalizadas para fortalecer tu presencia en línea. Diseñamos sitios web, logotipos y materiales visuales que reflejan la esencia de tu marca.</p>
    </div>
    <div class="w80 content-cards">
        <div class="card card-midnight cardOne"></div>
        <div class="card card-middle secondCard"></div>
        <div class="card card-midnight thirdCard"></div>
    </div>
</section>