<section id="section-service" class="w100">
    <button class="btn-services">Servicios</button>

    <span class="solution-span">Soluciones Creativas</span>
    <div class="w50 cont-txt">
        <p>Nuestro equipo experto combina la creatividad con la funcionalidad para ofrecerte soluciones digitales únicas y a medida. Desde la creación de sitios web dinámicos hasta el diseño de logotipos y materiales de marca, estamos aquí para potenciar tu presencia en línea y dar vida a tu marca.</p>
    </div>
    <div class="w80 content-cards">
        <div class="card card-midnight"></div>
        <div class="card card-middle"></div>
        <div class="card card-midnight"></div>
    </div>
</section>